.colors-circle span{
    height: 25px;
    width: 25px;
    background-color: #bbb;
    display: inline-block;
    margin-right: 1rem;
    border: 1px solid #000;
    border-radius: 50%;
}
.colors-circle span:nth-child(1){
    background-color: #000000;
}
.colors-circle span:nth-child(2){
    background-color: #ffffff;
}
.colors-circle span:nth-child(3){
    background-color: #bbb;
}
.FeatureCard{
    overflow: hidden;
}
.cardImg{
    overflow: hidden;
}
.ppImage {
    max-width: 100%;
    height: 400px;
    transition: transform .5s ease-in ;
}
.ppImage:hover{
    cursor: zoom-in;
    transform: scale(1.5);
}